In [1]:
import pandas as pd

In [2]:
donors = "donors2008.csv"

In [3]:
donors_df = pd.read_csv(donors)

In [4]:
donors_df

,LastName,FirstName,Employer,City,State,Zip,Amount,FIELD8
0,Aaron,Eugene,State Department,Dulles,VA,20189,500.0,NaN
1,Abadi,Barbara,Abadi & Co.,New York,NY,10021,200.0,NaN
2,Adamany,Anthony,Retired,Rockford,IL,61103,500.0,NaN
3,Adams,Lorraine,Self,New York,NY,10026,200.0,NaN
4,Adams,Marion,None,Exeter,NH,03833,100.0,NaN
...,...,...,...,...,...,...,...,...
1771,Zinczenko,David,Rodale,Allentown,PA,18102,500.0,NaN
1772,Zschiesche,Peter,NaN,San Diego,CA,92104,250.0,NaN
1773,Zweidinger,Ruth,NaN,Hillsborough,NC,27278,250.0,NaN
1774,Zwerdling,David,"Montg Cnty, Md",Silver Spring,MD,20910,35.0,NaN
1775,Zyskind,Jon,JDS Uniphase,Concord,MA,10742,25.0,NaN

In [10]:
donors_st = pd.DataFrame(donors_df.groupby(["State"]).mean()["Amount"])

In [13]:
ct = len([i for i in donors_st["Amount"] if i > 750])

In [14]:
ct

9